@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: radial-gradient(
      1200px 600px at 50% -10%,
      rgba(34, 181, 255, 0.18),
      transparent 60%
    ),
    radial-gradient(
      900px 500px at 80% 10%,
      rgba(21, 93, 181, 0.18),
      transparent 55%
    ),
    #00122b;
}

html {
  scroll-behavior: smooth;
}
